@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  scroll-behavior: smooth !important;
  background: linear-gradient(to bottom, #1e1e1e, black);
}

.cover>span {
  z-index: 2;
  left: -100%;
  transition: ease 300ms;
}

.cover:hover>span {

  left: 0 !important;
}